
body{
    color: white;
}
.container-fluid{
    background-color: black;
    width: 100%;
    height: 100vh;

}
#sell{
    h1{
        font-size: 4rem;
    }
    .text-gray{
        color: #4a4848 !important;
    }
    .sell-card{
        height: 220px;
        background-color: rgb(35 35 35);
        cursor: pointer;
        i{
            font-size: 6rem;
            margin-top: -2rem;
        }
        img{
            filter: brightness(30%);
        }
        img:hover{
            filter: brightness(80%);
        }
    }
    .cate-text{
        position: absolute;
        top: 0;
    }
    .header{
        width: 100%;
        height: 120px;
        h2{
            line-height: 120px;
        }
        a{
            font-size: 1.8rem;
            color: white;
            &.active, &:hover{
                text-decoration: none;
                /*padding-bottom: 10px;*/
                border-bottom: 2px solid white;
            }
        }
    }

    .product{
        width: 50%;
        height: 100vh;
        opacity: 0;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        padding-right: 4rem !important;
    }

    .banner {
        height: 100vh;

        table {
            border-collapse:separate !important;
            border-spacing: 0 .5rem;
        }
        .table td, .table th {
            vertical-align: inherit;
        }

                a{
                    color: white;
                    font-weight: normal;
                }
                th{
                    background-color: black;
                    font-weight: normal;
                }
                tr{
                    background-color: #232323;
                    margin-bottom: 5rem;


                }
                td{
                    border-top: none !important;
                }

                .card{
                    background-color: black;
                    margin-top: -.5rem;
                }
        .card-body.p-0 .table tbody>tr>td:last-of-type, .card-body.p-0 .table tbody>tr>th:last-of-type, .card-body.p-0 .table thead>tr>td:last-of-type, .card-body.p-0 .table thead>tr>th:last-of-type {
             padding-right: 12px;
        }
        .testbutton {
            color: #FFFFFF !important;
            font-size: 20px;
            padding: 5px 12px;
            border-radius: 9px;
            border: 0px solid #3866A3;
            background: #4a4848;
        }
        .testbutton:hover {
            color: #14396A !important;
            background: #6C757D;
        }
        .product-info{
            white-space: nowrap;

            overflow: hidden;
            text-overflow: ellipsis;
        }
        .btn{
            font-size: 2rem;
        }

    }
    .pay{
        background-color: #232323;
        padding: 12px;
    }

}


        /* On screens that are 768px or less, set for col-sm */
@media screen and (max-width: 768px) {
    #sell{
        .sell-card{
            opacity: .50;
            height: 50px;
        }
    }
}

/* On screens that are 992px or less, set for col-md */
@media screen and (max-width: 992px) {
    .col-md-8{
        flex: 0 0 58.333333%;
    }
    h4{
        font-size: 1.2rem;
    }
    #sell{
        h1{
            font-size: 3rem;
        }
        .sell-card{
            height: 124.8px;
            i{
                font-size: 4rem;
            }
        }
        .text-nowrap {
           white-space: normal !important;
        }
        .banner{
            padding-right: .5rem;
            table {
                border-collapse:separate !important;
                border-spacing: 0 .3rem;
            }
            .card{
                margin-top: -.2rem;
            }
            .product-info{
                white-space: nowrap;
                max-width: 104px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }
}

/* On screens that are 1200px or less, set for col-lg */
@media screen and (max-width: 1200px) {
    #sell{

    }
}

/* On screens that are 1200px or more, set for col-xl */
@media screen and (min-width: 1200px) {
    #sell{

    }
}


