
body{
    color: white;
}
.overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 80;
}
.container-fluid{
    background-color: black;
    width: 100%;
    height: 100vh;

}
#sell{overflow: hidden;
    user-select: none;
    h1{
        font-size: 5rem;
        color: yellow;

    }
    .text-gray{
        color: #4a4848 !important;
    }
    #sell-category{
        img{
            filter: brightness(30%);
        }
        img:hover{
            filter: brightness(80%);
        }
    }
    .sell-card{
        height: 220px;
        background-color: rgb(35 35 35);
        cursor: pointer;
        i{
            font-size: 6rem;
            margin-top: -2rem;
        }

    }
    .cate-text, .pro-text{
        position: absolute;
        top: 0;
    }
    .cate-text{
        pointer-events:none;
    }
    .pro-text{

        width: 100%;
        p{
            margin-bottom: 0 !important;
        }
    }
    .bg-black-overlay{
        background-color: #00000080 !important;
    }
    .header{
        width: 100%;
        height: 120px;
        h2{
            line-height: 120px;
        }
        a{
            font-size: 1.8rem;
            color: white;
        }
        .product-info a{
            font-size: .9rem;
        }
    }

    .product{
        width: 50%;
        height: 100vh;
        opacity: 0;
        z-index: 10;
        position: absolute;
        right: 0;
        top: 0;
        overflow: hidden;
        padding-right: 4rem !important;
    }

    .product-description{



    }

    .banner {
        /*padding-top: .5rem;*/
        height: 100vh;
        z-index: 99;
        background-color: black;
        .overlay{
            z-index: 150;
        }

        table {
            border-collapse:separate !important;
            border-spacing: 0 .1rem;
        }
        .table td, .table th {
            vertical-align: inherit;
        }

        a{
            color: white;
            font-weight: normal;
        }
        th{
            background-color: black;
            font-weight: normal;
        }
        tr{
            background-color: #151515;
            margin-bottom: 5rem;
        }
        td{
            border-top: none !important;
        }

        .text-right {
            font-weight: 600;
        }

        .card{
            background-color: black;
            /*margin-top: -.5rem;*/
            height: 56%;
            position: relative;
        }
        i.order{
            font-size: 8rem;
            color: #232323;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .card-body.p-0 .table tbody>tr>td:last-of-type, .card-body.p-0 .table tbody>tr>th:last-of-type, .card-body.p-0 .table thead>tr>td:last-of-type, .card-body.p-0 .table thead>tr>th:last-of-type {
             padding-right: 12px;
        }
        .testbutton {
            color: #FFFFFF !important;
            font-size: 20px;
            padding: 5px 12px;
            border-radius: 9px;
            border: 0px solid #3866A3;
            background: #4a4848;
        }
        .testbutton:hover {
            color: #14396A !important;
            background: #6C757D;
        }
        .product-info{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .add-seat, .add-customer, .add-cashier{
            cursor: pointer;
            margin: 0 4px;
        }
        .btn{
            font-size: 2rem;
        }
        div.btn-hold, .btn-clear{
            text-align: center;
            width: 45%;
        }

        div.btn-pay, .btn-hold, .btn-clear{
            cursor: pointer;
            border-radius: 6px;
            h5, h4{
                margin-bottom: 0;
            }
        }
        div.btn-pay:hover{
            background-color: #1e90ffe6;
        }

    }
    .style7 {
        /*border-top: 1px solid #8c8b8b;*/
        border-bottom: 1px solid #414040;
    }
    .card-footer{
        /*display: none;*/
        pointer-events:none;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        z-index: 100;
        background: rgb(0,0,0);
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9136029411764706) 100%);
    }
    .pay{
        padding: 20px 12px 12px 12px;
        position: absolute;
        bottom: 0;
        width: 88%;
        background-color: #151515;
        pointer-events: none;

        .btn-hold, .btn-clear, .btn-pay{
            opacity: .5;
        }
    }
    .pay.clickable{
        pointer-events: initial;
        .btn-hold, .btn-clear, .btn-pay{
            opacity: 1;
        }
    }

}
#clock {
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    color: #daf6ff;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
    .time {
        letter-spacing: 0.05em;
        font-size: 30px;
        padding: 5px 0;
    }
    .date {
        letter-spacing: 0.1em;
        font-size: 14px;
    }
}

.subtotal, .discount, .total, .to-pay{
    font-family: 'Share Tech Mono', monospace;
}

.font{
    font-family: roboto condensed,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif;
}

.cash-in{

}
.h__100{
    height: 100%;
}
.modal-content{
    background: #ecf0f3 !important;
    height: 93vh;
}
/*.cash-in{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 90;
    background-color: black;
    padding-right: .45rem;
    animation: mymove .3s linear;
}
@keyframes mymove {
    0%  {   right: -100%;
            width: 50%;

        }
    100% {  right: 0;
            width: 100%;
        }
}*/


/* On screens that are 768px or less, set for col-sm */
@media screen and (max-width: 768px) {
    #sell{
        .sell-card{
            opacity: .50;
            height: 50px;
        }
    }
}

/* On screens that are 992px or less, set for col-md */
@media screen and (max-width: 992px) {
    .col-md-8{
        flex: 0 0 58.333333%;
    }
    h4{
        font-size: 1.2rem;
    }
    #sell{
        h1{
            font-size: 3rem;
        }
        .sell-card{
            height: 124.8px;
            i{
                font-size: 4rem;
            }
        }
        .text-nowrap {
           white-space: normal !important;
        }
        .banner{
            padding-right: .5rem;
            table {
                border-collapse:separate !important;
                border-spacing: 0 0.1rem;
            }
            .card{
                margin-top: -.2rem;
            }
            .product-info{
                white-space: nowrap;
                max-width: 104px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

    }
}

/* On screens that are 1200px or less, set for col-lg */
@media screen and (max-width: 1200px) {
    #sell{

    }
}

/* On screens that are 1200px or more, set for col-xl */
@media screen and (min-width: 1200px) {
    #sell{

    }
}


