span.gg{
    display: flex;
}

span.gg span{
    display: inline-block;
    padding: 0.75rem 0.5rem;
}

span.gg span.btn-filter:hover{
    background-color: aquamarine;
}

span.gg span.visited{
    color: #a3d311 !important;
}

.gg-swap-vertical {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: rotate(90deg) scale(var(--ggs,1));
    box-shadow:
        -2px 2px 0,
        2px -2px 0;
    width: 6px;
    height: 2px
}

.gg-swap-vertical::after,
.gg-swap-vertical::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent
}

.gg-swap-vertical::before {
    border-left: 3px solid;
    top: -4px;
    right: -4px
}

.gg-swap-vertical::after {
    border-right: 3px solid;
    bottom: -4px;
    left: -4px
}

.gg-sort-az,
.gg-sort-az::after,
.gg-sort-az::before {
    display: block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}

.gg-sort-az {
    position: relative;
    transform: scale(var(--ggs,1));
    width: 8px
}

.gg-sort-az::after,
.gg-sort-az::before {
    content: "";
    position: absolute
}

.gg-sort-az::before {
    width: 12px;
    top: -4px;
    left: -2px
}

.gg-sort-az::after {
    width: 4px;
    top: 4px;
    left: 2px
}
