body {
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 80;
}

.container-fluid {
  background-color: black;
  width: 100%;
  height: 100vh;
}

#sell {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

#sell h1 {
  font-size: 5rem;
  color: yellow;
}

#sell .text-gray {
  color: #4a4848 !important;
}

#sell .sell-category img {
  filter: brightness(30%);
}

#sell .sell-category img:hover {
  filter: brightness(80%);
}

#sell .sell-card {
  height: 220px;
  background-color: rgb(35, 35, 35);
  cursor: pointer;
}

#sell .sell-card i {
  font-size: 6rem;
  margin-top: -2rem;
}

#sell .cate-text,
#sell .pro-text {
  position: absolute;
  top: 0;
}

#sell .cate-text {
  pointer-events: none;
}

#sell .pro-text {
  width: 100%;
}

#sell .pro-text p {
  margin-bottom: 0 !important;
}

#sell .bg-black-overlay {
  background-color: rgba(0, 0, 0, 0.5019607843) !important;
}

#sell .header {
  width: 100%;
  height: 120px;
}

#sell .header h2 {
  line-height: 120px;
}

#sell .header a {
  font-size: 1.8rem;
  color: white;
}

#sell .header .product-info a {
  font-size: 0.9rem;
}

#sell .product {
  width: 50%;
  height: 100vh;
  opacity: 0;
  z-index: 10;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  padding-right: 4rem !important;
}

#sell .banner {
  /*padding-top: .5rem;*/
  height: 100vh;
  z-index: 99;
  background-color: black;
}

#sell .banner .overlay {
  z-index: 150;
}

#sell .banner table {
  border-collapse: separate !important;
  border-spacing: 0 0.1rem;
}

#sell .banner .table td,
#sell .banner .table th {
  vertical-align: inherit;
}

#sell .banner a {
  color: white;
  font-weight: normal;
}

#sell .banner th {
  background-color: black;
  font-weight: normal;
}

#sell .banner tr {
  background-color: #151515;
  margin-bottom: 5rem;
}

#sell .banner td {
  border-top: none !important;
}

#sell .banner .text-right {
  /*font-weight: 600;*/
}

#sell .banner .card {
  background-color: black;
  /*margin-top: -.5rem;*/
  height: 56%;
  position: relative;
}

#sell .banner i.order {
  font-size: 8rem;
  color: #232323;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#sell .banner .card-body.p-0 .table tbody > tr > td:last-of-type,
#sell .banner .card-body.p-0 .table tbody > tr > th:last-of-type,
#sell .banner .card-body.p-0 .table thead > tr > td:last-of-type,
#sell .banner .card-body.p-0 .table thead > tr > th:last-of-type {
  padding-right: 12px;
}

#sell .banner .testbutton {
  color: #FFFFFF !important;
  font-size: 20px;
  padding: 5px 12px;
  border-radius: 9px;
  border: 0px solid #3866A3;
  background: #4a4848;
}

#sell .banner .testbutton:hover {
  color: #14396A !important;
  background: #6C757D;
}

#sell .banner .product-info {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sell .banner .add-seat,
#sell .banner .add-customer,
#sell .banner .add-cashier {
  cursor: pointer;
  margin: 0 4px;
}

#sell .banner .btn {
  font-size: 2rem;
}

#sell .banner div.btn-hold,
#sell .banner .btn-clear {
  text-align: center;
  width: 45%;
}

#sell .banner div.btn-pay,
#sell .banner .btn-hold,
#sell .banner .btn-clear {
  cursor: pointer;
  border-radius: 6px;
}

#sell .banner div.btn-pay h5,
#sell .banner div.btn-pay h4,
#sell .banner .btn-hold h5,
#sell .banner .btn-hold h4,
#sell .banner .btn-clear h5,
#sell .banner .btn-clear h4 {
  margin-bottom: 0;
}

#sell .banner div.btn-pay:hover {
  background-color: rgba(30, 144, 255, 0.9019607843);
}

#sell .style7 {
  /*border-top: 1px solid #8c8b8b;*/
  border-bottom: 1px solid #414040;
}

#sell .card-footer {
  /*display: none;*/
  pointer-events: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.9136029412) 100%);
}

#sell .pay {
  padding: 20px 12px 12px 12px;
  position: absolute;
  bottom: 0;
  width: 88%;
  background-color: #151515;
  pointer-events: none;
}

#sell .pay .btn-hold,
#sell .pay .btn-clear,
#sell .pay .btn-pay {
  opacity: 0.5;
}

#sell .pay.clickable {
  pointer-events: initial;
}

#sell .pay.clickable .btn-hold,
#sell .pay.clickable .btn-clear,
#sell .pay.clickable .btn-pay {
  opacity: 1;
}

#clock {
  font-family: "Share Tech Mono", monospace;
  text-align: center;
  color: #daf6ff;
  text-shadow: 0 0 20px rgb(10, 175, 230), 0 0 20px rgba(10, 175, 230, 0);
}

#clock .time {
  letter-spacing: 0.05em;
  font-size: 30px;
  padding: 5px 0;
}

#clock .date {
  letter-spacing: 0.1em;
  font-size: 14px;
}

.subtotal,
.discount,
.total,
.to-pay {
  font-family: "Share Tech Mono", monospace;
}

.font {
  font-family: roboto condensed, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif;
}

.h__100 {
  height: 100%;
}

.modal-content {
  background: #ecf0f3 !important;
  height: 93vh;
}

/*.cash-in{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 90;
    background-color: black;
    padding-right: .45rem;
    animation: mymove .3s linear;
}
@keyframes mymove {
    0%  {   right: -100%;
            width: 50%;

        }
    100% {  right: 0;
            width: 100%;
        }
}*/

/* On screens that are 768px or less, set for col-sm */

@media screen and (max-width: 768px) {
  #sell .sell-card {
    opacity: 0.5;
    height: 50px;
  }
}

/* On screens that are 992px or less, set for col-md */

@media screen and (max-width: 992px) {
  .col-md-8 {
    flex: 0 0 58.333333%;
  }

  h4 {
    font-size: 1.2rem;
  }

  #sell h1 {
    font-size: 3rem;
  }

  #sell .sell-card {
    height: 124.8px;
  }

  #sell .sell-card i {
    font-size: 4rem;
  }

  #sell .text-nowrap {
    white-space: normal !important;
  }

  #sell .banner {
    padding-right: 0.5rem;
  }

  #sell .banner table {
    border-collapse: separate !important;
    border-spacing: 0 0.1rem;
  }

  #sell .banner .card {
    margin-top: -0.2rem;
  }

  #sell .banner .product-info {
    white-space: nowrap;
    max-width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* On screens that are 1200px or less, set for col-lg */

/* On screens that are 1200px or more, set for col-xl */

.scale-up-center {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.btn-pay {
  background: linear-gradient(90deg, hsl(192, 95%, 50%) 0%, hsl(225, 89%, 47%) 100%);
}

.not-clickable {
  pointer-events: none;
}


